body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

figcaption{
    font-style: italic;
    color: lightgrey;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: grey;
    width: 70%;
    color: white;
}

input{
    width: 80%;
    height: 30px;
    margin: 10px
}

h1{
    color: gold;
    font-size: 35px;
}

h2{
    font-size: 28px;
}

p, a, button, span{
    font-size: 20px;
    text-decoration: none;
    color: lightgray;
    line-height: 1.7;
}

p{
    padding: 10px;
}

nav > a, button, .resume {
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
}

a:visited, button:visited{
    color: lightblue;
}

a:hover, button:hover{
    color: gold;
    transform: rotate(1deg);
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #669900;
}

nav{
    display: flex;
    flex-direction: column;
}

table{
    margin: 0 auto;
    border: solid lightcyan 2px;
}

th{
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}
td{
    padding: 10px;
    border: solid lightcyan 1px;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
}

button.menu  {
    background-color: transparent;
    display: none;
    visibility: hidden;
}

#hamburger{
    display: none;
}

.justifyLeft{
    text-align: left;
}

.leftSidebar{
    float: left;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background-color: #669900;
    text-align: center;
}

.list a{
    text-decoration: none;
    color: white;
}

.list a:hover{
    color: gold;
}

.list a:visited{
    color: silver;
}

.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio a {
    background-color: #f8f8ff;
    max-width: 20%;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 9px white;
    cursor: pointer;
    text-align: center;
    max-width: 40%;
    color: black
}

.portfolio img{
    max-width: 95%;
}


.right img, video{
    max-height: 400px;
}

.right{
    flex-direction: column;
    flex-grow: 1;
    padding: 40px;
    background-image: url(../images/blackTexture.jpg);
    background-attachment: fixed;
    text-align: center;
    color: gainsboro;
    line-height: 1.7;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills div{
    margin: 0 auto;
}

.skillset, .ima{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.slide-in {
    opacity:0;
    transition:1s;
  }
  .active {
    opacity:1;
     transition: transform .5s;
    -webkit-transition: transform .5s;
    transform: translateX(0%);
  
  }

@media screen and (max-width: 992px) {

    form{
        width: 80%;
    }
    
    table{
        margin: 2px;
        font-size: 12px;
    }

    th{
        text-transform: uppercase;
        font-size: 12px;
        padding: 3px;
    }
    td{
        padding: 3px;
        border: solid lightcyan 1px;
    }

    .container{
        flex-direction: column;
    }

    .leftSidebar{
        width: inherit;
    }
    #name-title {
        display: none;
    }


    nav{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #669900;
    }
   
    nav a{
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        background-color: black;
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
    }

    .portfolio h2{
        font-size: 20px;
    }


    .right img, video{
        max-width: 100%;   
    }

    .right{
        padding: 10px;
    }

    .skills{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 414px) {
  
    button.menu  {
        background-color: transparent;
        visibility: visible;
        display: flex;
        margin: auto;
        padding: 5px;
        border: none;
    }

    

    nav{
       display: none;
        position: absolute;
        top: 80px;
        left: 25%;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
  
    #hamburger{
        display:block;
        margin: auto;
        position: relative;
    } 

    .nav a{
        font-size: 16px;
    }

    .portfolio a{
        max-width: 80%;
    }
}
