body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

figcaption{
    font-style: italic;
    color: lightgrey;
    font-size: 12px;
}

h1{
    color: gold;
    font-size: 35px;
}

h2{
    font-size: 28px;
}

p,a{
    font-size: 20px;
    text-decoration: none;
    color: lightgray;
    line-height: 1.7;
}

.nav a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
}

a:visited{
    color: lightblue;
}

a:hover{
    color: gold;
    transform: rotate(1deg);
    cursor: pointer;
}

table{
    margin: 0 auto;
    border: solid lightcyan 2px;
}

th{
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
}
td{
    padding: 10px;
    border: solid lightcyan 1px;
}

ul{
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: row;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #669900;
}

.justifyLeft{
    text-align: left;
}

.leftSidebar{
    float: left;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    background-color: #669900;
    text-align: center;
}

.list a{
    text-decoration: none;
    color: white;
}

.list a:hover{
    color: gold;
}

.list a:visited{
    color: silver;
}

.nav{
    display: flex;
    flex-direction: column;
}

.right img, video{
    max-height: 400px;
}

.right{
    flex-direction: column;
    flex-grow: 1;
    padding: 40px;
    background-image: url(../images/blackTexture.jpg);
    background-attachment: fixed;
    text-align: center;
    color: gainsboro;
    line-height: 1.7;
}

.mx{
    display: none;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 992px) {

    table{
        margin: 2px;
        font-size: 12px;
    }

    th{
        text-transform: uppercase;
        font-size: 12px;
        padding: 3px;
    }
    td{
        padding: 3px;
        border: solid lightcyan 1px;
    }

    .nav{
        flex-direction: row;
        flex-wrap: wrap;
      
    }
   
    .nav a{
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        background-color: black;
        border-radius: 10px;
        padding: 5px;
        font-size: 16px;
    }
    
    .leftSidebar{
        display: none;
    }

    .mx{
        display: flex;
        justify-content: space-around;
        background-color: #669900;
    }

    .right img, video{
        max-width: 100%;   
    }

    .right{
        padding: 10px;
    }

    .skills{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 414px) {
  
    .nav a{
        font-size: 14px;
    }
}
